In [1]:
from datetime import date
from datetime import datetime
from datetime import datetime, timedelta


today = date.today()
midnight = datetime.combine(today, datetime.min.time())
 
print('Midnight: %s ' % (midnight) )

Midnight: 2021-09-05 00:00:00

In [2]:

def getSaturday():
    today = midnight
    date = today.weekday()
    if date == 0:
        d = today - timedelta(days=2)
        return d
    elif date == 1:
        d = today - timedelta(days=3)
        #print(type(d))
        return d
    elif date == 2:
        d = today - timedelta(days=4)
        return d
    elif date == 3:
        d = today - timedelta(days=5)
        return d
    elif date == 4:
        d = today - timedelta(days=6)
        return d
    elif date == 5:
        d = today - timedelta(days=7)
        return d
    else:
        d = today - timedelta(days=1)
        return d
        

lastSaturday = (getSaturday())
lastSunday = getSaturday() - timedelta(days=6)

strLastSaturday = lastSaturday.strftime('%Y-%m-%d')


strLastSunday = lastSunday.strftime('%Y-%m-%d')

###########################Passing Dates for parsing into URL ###########################

In [3]:
lastSaturday

datetime.datetime(2021, 9, 4, 0, 0)

In [4]:
eodSunday = lastSunday + timedelta(days=7)
eodSunday

start_date = lastSunday
end_date = eodSunday
start_date

datetime.datetime(2021, 8, 29, 0, 0)

In [5]:
import pandas as pd


df_raw = pd.read_csv("week1.csv", usecols=['Expected Ship Datetime', 'Process Path', 'Quantity', 'Work Pool'])

#df_raw.info()
df_raw['Expected Ship Datetime'] = pd.to_datetime(df_raw['Expected Ship Datetime'])
df_raw['date'] = df_raw['Expected Ship Datetime']
df_raw = df_raw[df_raw["Work Pool"] != "ProcessPartial"]
df_raw.info()
sorted(df_raw['Expected Ship Datetime'].unique())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 509 entries, 0 to 508
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Expected Ship Datetime  509 non-null    datetime64[ns]
 1   Process Path            509 non-null    object
 2   Quantity                509 non-null    int64
 3   Work Pool               509 non-null    object
 4   date                    509 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 23.9+ KB

[numpy.datetime64('2021-08-29T11:00:00.000000000'),
 numpy.datetime64('2021-08-29T11:20:00.000000000'),
 numpy.datetime64('2021-08-29T22:50:00.000000000'),
 numpy.datetime64('2021-08-30T06:20:00.000000000'),
 numpy.datetime64('2021-08-30T11:00:00.000000000'),
 numpy.datetime64('2021-08-30T14:20:00.000000000'),
 numpy.datetime64('2021-08-30T18:20:00.000000000'),
 numpy.datetime64('2021-08-30T22:50:00.000000000'),
 numpy.datetime64('2021-08-31T11:00:00.000000000'),
 numpy.datetime64('2021-08-31T14:20:00.000000000'),
 numpy.datetime64('2021-08-31T22:50:00.000000000'),
 numpy.datetime64('2021-09-01T11:00:00.000000000'),
 numpy.datetime64('2021-09-02T11:00:00.000000000'),
 numpy.datetime64('2021-09-02T18:20:00.000000000'),
 numpy.datetime64('2021-09-02T22:50:00.000000000'),
 numpy.datetime64('2021-09-03T11:00:00.000000000'),
 numpy.datetime64('2021-09-04T11:00:00.000000000'),
 numpy.datetime64('2021-09-04T22:50:00.000000000')]

In [6]:
def timeZone(x):
    x = x - timedelta(hours=6)
    x = x - timedelta(minutes=30)
    return x

df_raw['date'] = df_raw['date'].apply(timeZone)

df_raw.head(100)

,Expected Ship Datetime,Process Path,Quantity,Work Pool,date
0,2021-08-29 11:00:00,PPDestroyHZMT,1,PickingPickedAtDestination,2021-08-29 04:30:00
1,2021-08-29 11:00:00,PPDestroyHZMT,1,PickingPickedAtDestination,2021-08-29 04:30:00
2,2021-08-29 11:00:00,PPDestroyHZMT,1,PickingPickedAtDestination,2021-08-29 04:30:00
3,2021-08-29 11:00:00,PPDestroyHZMT,1,PickingPickedAtDestination,2021-08-29 04:30:00
4,2021-08-29 11:00:00,PPDestroyHZMT,1,PickingPickedAtDestination,2021-08-29 04:30:00
...,...,...,...,...,...
95,2021-08-30 11:00:00,PPRecycle,1,PickingNotYetPickedPrioritized,2021-08-30 04:30:00
96,2021-08-30 11:00:00,PPRecycle,1,PickingNotYetPickedPrioritized,2021-08-30 04:30:00
97,2021-08-30 11:00:00,PPRecycle,1,PickingNotYetPickedPrioritized,2021-08-30 04:30:00
98,2021-08-30 11:00:00,PPRecycle,1,PickingNotYetPickedPrioritized,2021-08-30 04:30:00
99,2021-08-30 11:00:00,PPRecycle,1,PickingNotYetPickedPrioritized,2021-08-30 04:30:00

In [7]:
#df['date'] = pd.to_datetime(df['date'])
#greater than the start date and smaller than the end date
mask = (df_raw['date'] > start_date) & (df_raw['date'] < end_date)
df_raw = df_raw.loc[mask]
df_raw.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 509 entries, 0 to 508
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Expected Ship Datetime  509 non-null    datetime64[ns]
 1   Process Path            509 non-null    object
 2   Quantity                509 non-null    int64
 3   Work Pool               509 non-null    object
 4   date                    509 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 23.9+ KB

In [8]:
sorted(df_raw['Expected Ship Datetime'].unique())

[numpy.datetime64('2021-08-29T11:00:00.000000000'),
 numpy.datetime64('2021-08-29T11:20:00.000000000'),
 numpy.datetime64('2021-08-29T22:50:00.000000000'),
 numpy.datetime64('2021-08-30T06:20:00.000000000'),
 numpy.datetime64('2021-08-30T11:00:00.000000000'),
 numpy.datetime64('2021-08-30T14:20:00.000000000'),
 numpy.datetime64('2021-08-30T18:20:00.000000000'),
 numpy.datetime64('2021-08-30T22:50:00.000000000'),
 numpy.datetime64('2021-08-31T11:00:00.000000000'),
 numpy.datetime64('2021-08-31T14:20:00.000000000'),
 numpy.datetime64('2021-08-31T22:50:00.000000000'),
 numpy.datetime64('2021-09-01T11:00:00.000000000'),
 numpy.datetime64('2021-09-02T11:00:00.000000000'),
 numpy.datetime64('2021-09-02T18:20:00.000000000'),
 numpy.datetime64('2021-09-02T22:50:00.000000000'),
 numpy.datetime64('2021-09-03T11:00:00.000000000'),
 numpy.datetime64('2021-09-04T11:00:00.000000000'),
 numpy.datetime64('2021-09-04T22:50:00.000000000')]

In [9]:
print(df_raw['Process Path'].unique())
maskPath =(df_raw['Process Path']=='PPPickToRebin')|(df_raw['Process Path'] == 'PPOrderPickVNA')|(df_raw['Process Path'] == 'PPSplitDemand1')
df_raw = df_raw.loc[maskPath]
df_raw.info()

df_raw['Process Path'].value_counts()
df_raw['Quantity'].sum()

['PPDestroyHZMT' 'PPRecycle' 'PPPickToRebin' 'PPOrderPickVNA'
 'PPSplitDemand1']
<class 'pandas.core.frame.DataFrame'>
Int64Index: 215 entries, 46 to 508
Data columns (total 5 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Expected Ship Datetime  215 non-null    datetime64[ns]
 1   Process Path            215 non-null    object
 2   Quantity                215 non-null    int64
 3   Work Pool               215 non-null    object
 4   date                    215 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 10.1+ KB

223

In [10]:
pp_unique = df_raw['Process Path'].unique()

pp_list = []

for x in pp_unique:
    pp_list.append(x)
    
pp_list

['PPPickToRebin', 'PPOrderPickVNA', 'PPSplitDemand1']

In [11]:
maskPath2 =(df_raw['Process Path']=='PPDestroyHZMT')
df_raw2 = df_raw.loc[maskPath2]
df_test=pd.DataFrame(df_raw2)
df_test.drop(['date'], axis=1, inplace=True)
df_raw.drop(['date'], axis=1, inplace=True)
df_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Expected Ship Datetime  0 non-null      datetime64[ns]
 1   Process Path            0 non-null      object
 2   Quantity                0 non-null      int64
 3   Work Pool               0 non-null      object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 0.0+ bytes

In [12]:
maskPathPPR =(df_raw['Process Path']=='PPPickToRebin')
df_rawPPR = df_raw.loc[maskPathPPR]
df_PPR = pd.DataFrame(df_rawPPR)

In [13]:
maskPathVNA =(df_raw['Process Path']=='PPOrderPickVNA')
df_rawVNA = df_raw.loc[maskPathVNA]
df_VNA = pd.DataFrame(df_rawVNA)

In [14]:
maskPathPPSplit =(df_raw['Process Path']=='PPSplitDemand1')
df_rawPPSplit = df_raw.loc[maskPathPPSplit]
df_PPSplit = pd.DataFrame(df_rawPPSplit)

In [15]:
df_PPR.info()

df_VNA.info()

df_PPSplit.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 206 entries, 46 to 508
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Expected Ship Datetime  206 non-null    datetime64[ns]
 1   Process Path            206 non-null    object
 2   Quantity                206 non-null    int64
 3   Work Pool               206 non-null    object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 8.0+ KB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 6 entries, 68 to 495
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Expected Ship Datetime  6 non-null      datetime64[ns]
 1   Process Path            6 non-null      object
 2   Quantity                6 non-null      int64
 3   Work Pool               6 non-null      object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 240.0+ bytes
<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 316 to 318
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Expected Ship Datetime  3 non-null      datetime64[ns]
 1   Process Path            3 non-null      object
 2   Quantity                3 non-null      int64
 3   Work Pool               3 non-null      object
dtypes: datetime64[ns](1), int64(1), object(2)
memory usage: 120.0+ bytes

In [16]:
df_PPR_copy = df_PPR.copy(deep=True)
df_VNA_copy = df_VNA.copy(deep=True)
df_PPSplit_copy = df_PPSplit.copy(deep=True)

In [17]:
df_PPR_copy.columns

Index(['Expected Ship Datetime', 'Process Path', 'Quantity', 'Work Pool'], dtype='object')

In [18]:
df_PPR_copy['Work Pool'].unique()

array(['Packing', 'PickingPickedAtDestination', 'ProblemSolving',
       'PickingNotYetPickedPrioritized', 'Sorted', 'Scanned',
       'PickingPickedInTransit', 'PickingPickedInProgress'], dtype=object)

In [19]:
df_PPR_copy

,Expected Ship Datetime,Process Path,Quantity,Work Pool
46,2021-08-29 11:20:00,PPPickToRebin,1,Packing
47,2021-08-29 11:20:00,PPPickToRebin,1,Packing
48,2021-08-29 11:20:00,PPPickToRebin,1,PickingPickedAtDestination
49,2021-08-29 11:20:00,PPPickToRebin,1,ProblemSolving
50,2021-08-29 11:20:00,PPPickToRebin,1,ProblemSolving
...,...,...,...,...
504,2021-09-04 22:50:00,PPPickToRebin,1,ProblemSolving
505,2021-09-04 22:50:00,PPPickToRebin,1,ProblemSolving
506,2021-09-04 22:50:00,PPPickToRebin,1,ProblemSolving
507,2021-09-04 22:50:00,PPPickToRebin,1,ProblemSolving
508,2021-09-04 22:50:00,PPPickToRebin,1,Scanned

In [20]:
def pickCalc(x):
    if x == 'PickingPickedInTransit' or x == 'PickingPickedAtDestination' or x == "PickingPickedInProgress":
        return 'PickingPicked Total'
    elif x == 'PickingNotYetPickedPrioritized':
        return 'PickingNotYetPicked Total'
    elif x == 'PickingNotYetPicked':
        return 'PickingNotYetPicked Total'
    else: 
        return x
df_PPR['Work Pool'] = df_PPR['Work Pool'].apply(pickCalc)
df_VNA['Work Pool'] = df_VNA['Work Pool'].apply(pickCalc)
df_PPSplit['Work Pool'] = df_PPSplit['Work Pool'].apply(pickCalc)

df_PPR

    Expected Ship Datetime   Process Path  Quantity            Work Pool
46     2021-08-29 11:20:00  PPPickToRebin         1              Packing
47     2021-08-29 11:20:00  PPPickToRebin         1              Packing
48     2021-08-29 11:20:00  PPPickToRebin         1  PickingPicked Total
49     2021-08-29 11:20:00  PPPickToRebin         1       ProblemSolving
50     2021-08-29 11:20:00  PPPickToRebin         1       ProblemSolving
..                     ...            ...       ...                  ...
504    2021-09-04 22:50:00  PPPickToRebin         1       ProblemSolving
505    2021-09-04 22:50:00  PPPickToRebin         1       ProblemSolving
506    2021-09-04 22:50:00  PPPickToRebin         1       ProblemSolving
507    2021-09-04 22:50:00  PPPickToRebin         1       ProblemSolving
508    2021-09-04 22:50:00  PPPickToRebin         1              Scanned

[206 rows x 4 columns]

In [21]:
def df_manip(df, csvfilename, workpoolname):
    df['Expected Ship Datetime'] =pd.to_datetime(df['Expected Ship Datetime'])
    df['Day'] = df['Expected Ship Datetime'].dt.day_name()
    df['Day'].value_counts()
    temp = pd.DatetimeIndex(df['Expected Ship Datetime'])
    df['date'] = df['Expected Ship Datetime']
    df['date'] = temp.date
    df['time'] = temp.time
    df['hr']= temp.hour
    df['min']=temp.minute
    df['shiftHr'] = df['Day'].astype(str)+ " " + df['hr'].astype(str) + ":" + df['min'].astype(str)
    df['shiftHr'].unique()
    df=df.drop(columns=['Day', 'date', 'time'])# 'hr', 'min'])
    
    def shiftCalc(x):
        if x == 'Sunday 11:20' or x == 'Sunday 14:20' or x == 'Sunday 18:20':
            return 'FHD'
        elif x == 'Monday 11:20' or x == 'Monday 14:20' or x == 'Monday 18:20':
            return 'FHD'
        elif x == 'Tuesday 11:20' or x == 'Tuesday 14:20' or x == 'Tuesday 18:20':
            return 'FHD'
        ################ Front Half Nights
        elif x == 'Sunday 22:50' or x == 'Monday 6:20':
            return 'FHN'
        elif x == 'Monday 22:50' or x == 'Tuesday 6:20':
            return 'FHN'
        elif x == 'Tuesday 22:50' or x == 'Wednesday 6:20':
            return 'FHN'
        #######################Wednesday
        elif x == 'Wednesday 11:20' or x == 'Wednesday 14:20' or x == 'Wednesday 18:20':
            return 'WDD'
        elif x == 'Wednesday 22:50' or x == 'Thursday 6:20':
            return 'WDN'    
        ###################### BHD/BHN
        elif x == 'Thursday 11:20' or x == 'Thursday 14:20' or x == 'Thursday 18:20':
            return 'BHD'
        elif x == 'Friday 11:20' or x == 'Friday 14:20' or x == 'Friday 18:20':
            return 'BHD'
        elif x == 'Saturday 11:20' or x == 'Saturday 14:20' or x == 'Saturday 18:20':
            return 'BHD'
        #####################################
        elif x == 'Thursday 22:50' or x == 'Friday 6:20':
            return 'BHN'
        elif x == 'Friday 22:50' or x == 'Saturday 6:20':
            return 'BHN'
        elif x == 'Saturday 22:50' or x == 'Sunday 6:20':
            return 'BHN'

    df['shift'] = df['shiftHr'].apply(shiftCalc)


    
    
    df['shiftHr2'] = df['shift'].astype(str)+ " " + df['hr'].astype(str) + ":" + df['min'].astype(str)
    df = df.drop(columns = ['hr', 'min'])
    df = df.groupby(['shiftHr2', 'Work Pool'])['Quantity'].sum()
    
    df.to_csv(csvfilename)
    df2 = pd.read_csv(csvfilename)

    df3 = df2.pivot(index='Work Pool', columns='shiftHr2', values='Quantity')

    df3 = df3.fillna(0)

    df3 = df3.astype(int)
    df3.to_csv(csvfilename)
    df4 = pd.read_csv(csvfilename)#, index = 'Work Pool')
    df4 = df4.set_index('Work Pool')
    idx = pd.Index(['Packing', 'PickingNotYetPicked Total', 'PickingPicked Total', 'ProblemSolving', 'Scanned', 'Sorted'], name = "Work Pool")
    blank_df = pd.DataFrame(
        {
            'FHD 11:20':0,
            'FHD 14:20':0,
            'FHD 18:20':0, 
            'BHD 11:20':0, 
            'BHD 14:20':0, 
            'BHD 18:20':0, 
            'FHN 22:50':0, 
            'FHN 6:20':0, 
            'BHN 22:50':0, 
            'BHN 6:20':0, 
            'WDD 11:20':0, 
            'WDD 14:20':0, 
            'WDD 18:20':0, 
            'WDN 22:50':0, 
            'WDN 6:20':0
        }, index = idx)#, index = ['Packing', 'PickingNotYetPicked Total', 'PickingPicked Total', 'ProblemSolving', 'Scanned', 'Sorted'])
    #blank_df.Index.rename(name = "Work Pool")
    
    for i in df4.columns:
        blank_df = blank_df.drop(columns=[i])
    df4a = pd.concat([blank_df, df4], axis=1)
    df4a = df4a.fillna(0)
    df4a = df4a.astype(int)
    #df4a = df4a.drop(index=['ProcessPartial'])
    df4a['FHD Total'] = df4a['FHD 11:20'] + df4a['FHD 14:20'] + df4a['FHD 18:20']
    df4a['BHD Total'] = df4a['BHD 11:20'] + df4a['BHD 14:20'] + df4a['BHD 18:20']
    df4a['FHN Total'] = df4a['FHN 22:50'] + df4a['FHN 6:20']
    df4a['BHN Total'] = df4a['BHN 22:50'] + df4a['BHN 6:20']
    df4a['WDD Total'] = df4a['WDD 11:20'] + df4a['WDD 14:20'] + df4a['WDD 18:20']
    df4a['WDN Total'] = df4a['WDN 22:50'] + df4a['WDN 6:20']

    
    df4a = df4a[['FHD 11:20', 'FHD 14:20', 'FHD 18:20', 'FHD Total', 'BHD 11:20', 'BHD 14:20', 'BHD 18:20', 'BHD Total', 'FHN 22:50', 'FHN 6:20', 'FHN Total', 'BHN 22:50', 'BHN 6:20', 'BHN Total', 'WDD 11:20', 'WDD 14:20', 'WDD 18:20', 'WDD Total', 'WDN 22:50', 'WDN 6:20', 'WDN Total']]
       
    df4a.loc['Total'] = df4a.sum(numeric_only=True, axis=0)
    df4a.to_csv(csvfilename)

    df5 = pd.read_csv(csvfilename, header = 0, index_col=False)
    df5 = df5.rename(columns={"Work Pool": workpoolname})
    return df5

"""
df_PP2R = pd.DataFrame(PP2R)
df_VNA = pd.DataFrame(VNA)
df_PPSplit = pd.DataFrame(df_PPSplitDemand1)
"""

df_PP2R2 = df_manip(df_PPR, "Pick2Rebin.csv", "Pick to Rebin")
df_VNA2 = df_manip(df_VNA, "VNA.csv", "VNA")
df_PPSplit2 = df_manip(df_PPSplit, "PPSplit.csv", "PPSplitDemand")

#df_PP2R2
#df_VNA2
#df_PPSplit2

In [22]:
df_PP2R2

,Pick to Rebin,FHD 11:20,FHD 14:20,FHD 18:20,FHD Total,BHD 11:20,BHD 14:20,BHD 18:20,BHD Total,FHN 22:50,...,BHN 22:50,BHN 6:20,BHN Total,WDD 11:20,WDD 14:20,WDD 18:20,WDD Total,WDN 22:50,WDN 6:20,WDN Total
0,Packing,2,2,2,6,0,0,0,0,3,...,1,0,1,0,0,0,0,0,0,0
1,PickingNotYetPicked Total,2,0,5,7,0,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
2,PickingPicked Total,3,0,2,5,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
3,ProblemSolving,6,2,11,19,0,0,7,7,7,...,16,0,16,0,0,0,0,0,0,0
4,Scanned,2,0,5,7,0,0,0,0,14,...,3,0,3,0,0,0,0,0,0,0
5,Sorted,7,0,87,94,0,0,3,3,13,...,2,0,2,0,0,0,0,0,0,0
6,Total,22,4,112,138,0,0,10,10,41,...,22,0,22,0,0,0,0,0,0,0

In [23]:
df_VNA2

,VNA,FHD 11:20,FHD 14:20,FHD 18:20,FHD Total,BHD 11:20,BHD 14:20,BHD 18:20,BHD Total,FHN 22:50,...,BHN 22:50,BHN 6:20,BHN Total,WDD 11:20,WDD 14:20,WDD 18:20,WDD Total,WDN 22:50,WDN 6:20,WDN Total
0,Packing,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,PickingNotYetPicked Total,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,PickingPicked Total,0,0,0,0,0,0,0,0,2,...,3,0,3,0,0,0,0,0,0,0
3,ProblemSolving,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Scanned,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Sorted,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
6,Total,0,0,0,0,0,0,0,0,3,...,3,0,3,0,0,0,0,0,0,0

In [24]:
df_PPSplit2

,PPSplitDemand,FHD 11:20,FHD 14:20,FHD 18:20,FHD Total,BHD 11:20,BHD 14:20,BHD 18:20,BHD Total,FHN 22:50,...,BHN 22:50,BHN 6:20,BHN Total,WDD 11:20,WDD 14:20,WDD 18:20,WDD Total,WDN 22:50,WDN 6:20,WDN Total
0,Packing,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,PickingNotYetPicked Total,0,0,0,0,0,0,0,0,5,...,0,0,0,0,0,0,0,0,0,0
2,PickingPicked Total,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ProblemSolving,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Scanned,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Sorted,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Total,0,0,0,0,0,0,0,0,5,...,0,0,0,0,0,0,0,0,0,0

In [25]:
import matplotlib.pyplot as plt
%matplotlib inline

excel_colors_r = [(99/255, 190/255, 123/255, 255/255),
                  (144/255, 203/255, 126/255, 255/255),
                  (189/255, 216/255, 129/255, 255/255),
                  (233/255, 229/255, 131/255, 255/255),
                  (254/255, 216/255, 128/255, 255/255),
                  (252/255, 179/255, 121/255, 255/255),
                  (250/255, 142/255, 114/255, 255/255),
                  (248/255, 105/255, 107/255, 255/255)
                ]

from matplotlib.colors import LinearSegmentedColormap


my_cmap_r = LinearSegmentedColormap.from_list('excelColor_r', excel_colors_r)

In [26]:
#import numpy as np
#import pandas as pd
#import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import HTML

# Set CSS properties for th elements in dataframe
th_props = [
    ('border-collapse', 'collapse'),
    ('padding', '0px'),
    ('color', 'black'),
    ('font-size', '11pt'),
    ('font-style', 'normal'),
    ('font-family', 'Calibri, sans-serif'),
    ('vertical-align', 'middle'),
    ('border', 'none'),
    ('white-space', 'nowrap'),
    ('text-align', 'center'),
    ('border-bottom', '0.5pt solid windowtext'),
    ('border-right', '0.5pt solid windowtext'),
    ('border-left', '0.5pt solid windowtext'),
    ('background', 'rgb(221, 235, 247)'),
    ('border-top', '.5pt solid windowtext'),
    ('height', '14pt'),
    ('font-weight', '700')
    ]
"""
    color: black;
    font-size: 11pt;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    font-family: Calibri, sans-serif;
    vertical-align: bottom;
    border: none;
    white-space: nowrap;
    text-align: left;
    border-right: none;
    border-bottom: 0.5pt solid windowtext;
    border-left: 0.5pt solid windowtext;
    background: rgb(221, 235, 247);
    border-top: none;
"""
  

# Set CSS properties for td elements in dataframe
"""td_props = [   ('border-collapse', 'collapse'),
    #('padding','0px'),
    ('color', 'black'),
    ('font-size','11pt'),
    #('font-style', 'normal'),
    #('text-decoration','none'),
    ('font-family', 'Calibri, sans-serif'),
    #('vertical-align', 'bottom'),
    ('white-space','nowrap'),
    ('font-weight','700'),
    ('text-align', 'center'),
    ('border','0.5pt solid windowtext'),
    ('background', 'rgb(153, 255, 204)'),
    ('width, 140pt')
  ]"""

td_props = [
    ('border-collapse', 'collapse'),
    ('padding','0px'),
    ('color', 'black'),
    ('font-size', '11px'),
    ('font-style', 'normal'),
    #('font-family', 'Calibri, sans-serif'),
    #('vertical-align', 'middle'),
    ('white-space','nowrap'),
    ('font-weight','700'),
    ('text-align', 'center'),
    #('border','0.5pt solid windowtext'),
    ('width', '160pt'),
    ('height', '14.5pt'),
    ('border-bottom', '.5pt solid windowtext'),
    ('border-right', '.5pt solid windowtext'),
    ('border-left', '.5pt solid windowtext')
    #('background', 'rgb(153, 255, 204)')
  ]

# Set table styles
styles = [
  dict(selector="th", props=th_props),
  dict(selector="td", props=td_props)
  ]
# Set table styles
#styles = [
  #dict(selector="th", props=th_props),
 # dict(selector="td", props=td_props)
  #]

#df5.to_html('pick2rebin.html')

In [27]:
graphic = df_PP2R2.style.background_gradient(axis=1,cmap=my_cmap_r).set_table_styles(styles)
graphic2 = df_VNA2.style.background_gradient(axis=1,cmap=my_cmap_r).set_table_styles(styles)
graphic3 = df_PPSplit2.style.background_gradient(axis=1,cmap=my_cmap_r).set_table_styles(styles)


with pd.ExcelWriter('willyuenTotals1.xlsx') as writer:
    graphic.to_excel(writer, sheet_name='PickToRebin', index=False, startrow=1, startcol=0)
    graphic2.to_excel(writer, sheet_name='VNA', index=False, startrow=1, startcol=0)
    graphic3.to_excel(writer, sheet_name='PPSplit', index=False, startrow=1, startcol=0)
    
print(graphic)
graphic

<pandas.io.formats.style.Styler object at 0x000001F9F090B8E0>

In [28]:
graphic = df_PP2R2.style.background_gradient(axis=1, #cmap=gcmap#,

    cmap=my_cmap_r

).set_table_styles(styles)

#help(graphic.to_excel)
#graphic.to_excel("willyuen1.xlsx", index=False)
graphic2

In [29]:
graphic2 = df_VNA2.style.background_gradient(axis=1, #cmap=gcmap#,

    cmap=my_cmap_r

).set_table_styles(styles)

#print(graphic2)
#help(graphic2.to_excel)
graphic3

In [30]:
import openpyxl
from openpyxl.styles import PatternFill
from openpyxl.styles import Alignment
from openpyxl.styles import Border, Side

#dir(openpyxl.load_workbook)#.workbook.workbook)9

wb = openpyxl.load_workbook("willyuenTotals1.xlsx")
ws_pprb = wb.worksheets[0]
ws_vna = wb.worksheets[1]
ws_PPSplit = wb.worksheets[2]

def excel_df(ws, processPathStr):
    
    ws.column_dimensions['A'].width = 25

    ws['A1']=processPathStr
    ws['A2']='Work Pool'
    ws['A1'].fill = PatternFill(fgColor="FFFF00", fill_type = "solid")
    ws['A1'].alignment = Alignment(horizontal='center')


    index_fill = PatternFill(fgColor='BDD7EE', fill_type = 'solid')

    ws['A2'].fill = index_fill
    ws['A3'].fill = index_fill
    ws['A4'].fill = index_fill
    ws['A5'].fill = index_fill
    ws['A6'].fill = index_fill
    ws['A7'].fill = index_fill
    ws['A8'].fill = index_fill
    ws['A9'].fill = index_fill

    ws['B2']='11:20'
    ws['C2']='14:20'
    ws['D2']='18:20'
    ws['E2']='Total'

    ws['F2']='11:20'
    ws['G2']='14:20'
    ws['H2']='18:20'
    ws['I2']='Total'

    ws['J2']='22:50'
    ws['K2']='06:20'
    ws['L2']='Total'

    ws['M2']='22:50'
    ws['N2']='06:20'
    ws['O2']='Total'

    ws['P2']='11:20'
    ws['Q2']='14:20'
    ws['R2']='18:20'
    ws['S2']='Total'

    ws['T2']='22:50'
    ws['U2']='06:20'
    ws['V2']='Total'

    ws.merge_cells(range_string="B1:E1")
    ws['B1']='FHDs'
    ws['B1'].alignment = Alignment(horizontal='center')
    FHDs_fill = PatternFill(fgColor='AFDDD5', fill_type = 'solid')

    ws['B1'].fill = FHDs_fill
    ws['B2'].fill = FHDs_fill
    ws['C2'].fill = FHDs_fill
    ws['D2'].fill = FHDs_fill
    ws['E2'].fill = FHDs_fill

    ws.merge_cells(range_string="F1:I1")
    ws['F1']='BHDs'
    ws['F1'].alignment = Alignment(horizontal='center')
    BHDs_fill = PatternFill(fgColor='C6E0B4', fill_type = 'solid')

    ws['F1'].fill = BHDs_fill
    ws['F2'].fill = BHDs_fill
    ws['G2'].fill = BHDs_fill
    ws['H2'].fill = BHDs_fill
    ws['I2'].fill = BHDs_fill

    ws.merge_cells(range_string="J1:L1")
    ws['J1']='FHNs'
    ws['J1'].alignment = Alignment(horizontal='center')
    FHNs_fill = PatternFill(fgColor='F8CBAD', fill_type = 'solid')

    ws['J1'].fill = FHNs_fill
    ws['J2'].fill = FHNs_fill
    ws['K2'].fill = FHNs_fill
    ws['L2'].fill = FHNs_fill


    ws.merge_cells(range_string="M1:O1")
    ws['M1']='BHNs'
    ws['M1'].alignment = Alignment(horizontal='center')
    BHNs_fill = PatternFill(fgColor='FFE699', fill_type = 'solid')

    ws['M1'].fill = BHNs_fill
    ws['M2'].fill = BHNs_fill
    ws['N2'].fill = BHNs_fill
    ws['O2'].fill = BHNs_fill

    ws.merge_cells(range_string="P1:S1")
    ws['P1']='Wednesday Day'
    WDD_fill = PatternFill(fgColor='85E3FF', fill_type = 'solid')

    ws['P1'].fill = WDD_fill
    ws['P2'].fill = WDD_fill
    ws['Q2'].fill = WDD_fill
    ws['R2'].fill = WDD_fill
    ws['S2'].fill = WDD_fill

    ws['P1'].alignment = Alignment(horizontal='center')

    ws.merge_cells(range_string="T1:V1")
    ws['T1']='Wednesday Night'
    ws['T1'].alignment = Alignment(horizontal='center')
    WDN_fill = PatternFill(fgColor='DCD3FF', fill_type = 'solid')

    ws['T1'].fill = WDN_fill
    ws['T2'].fill = WDN_fill
    ws['U2'].fill = WDN_fill
    ws['V2'].fill = WDN_fill
    
    
    borderStyle = Border(top = Side(border_style='thin', color='FF000000'),    
                              right = Side(border_style='thin', color='FF000000'), 
                              bottom = Side(border_style='thin', color='FF000000'),
                              left = Side(border_style='thin', color='FF000000'))
    range = 'A1:V9'
    def set_border(ws, cell_range):
        rows = ws[cell_range]
        side = Side(border_style='thin', color="FF000000")

        rows = list(rows)  # we convert iterator to list for simplicity, but it's not memory efficient solution
        max_y = len(rows) - 1  # index of the last row
        for pos_y, cells in enumerate(rows):
            max_x = len(cells) - 1  # index of the last cell
            for pos_x, cell in enumerate(cells):
                border = Border(
                    left=cell.border.left,
                    right=cell.border.right,
                    top=cell.border.top,
                    bottom=cell.border.bottom
                )
                if pos_x == 0:
                    border.left = side
                if pos_x == max_x:
                    border.right = side
                if pos_y == 0:
                    border.top = side
                if pos_y == max_y:
                    border.bottom = side

                # set new border only if it's one of the edge cells
                if pos_x == 0 or pos_x == max_x or pos_y == 0 or pos_y == max_y:
                    cell.border = border
    set_border(ws, "A1:V9")
    set_border(ws, "B3:B9")
    set_border(ws, "C3:C9")
    set_border(ws, "D3:D9")
    set_border(ws, "E3:E9")
    set_border(ws, "F3:F9")
    set_border(ws, "G3:G9")
    set_border(ws, "H3:H9")
    set_border(ws, "I3:I9")
    set_border(ws, "J3:J9")
    set_border(ws, "K3:K9")
    set_border(ws, "L3:L9")
    set_border(ws, "M3:M9")
    set_border(ws, "N3:N9")
    set_border(ws, "O3:O9")
    set_border(ws, "P3:P9")
    set_border(ws, "Q3:Q9")
    set_border(ws, "R3:R9")
    set_border(ws, "S3:S9")
    set_border(ws, "T3:T9")
    set_border(ws, "U3:U9")
    set_border(ws, "V3:V9")
    
    set_border(ws, "B1:E1")
    set_border(ws, "F3:I1")
    set_border(ws, "J1:L1")
    set_border(ws, "M1:O1")
    set_border(ws, "P1:S1")
    set_border(ws, "T1:V1")
    
    set_border(ws, "B3:V3")
    set_border(ws, "B4:V4")
    set_border(ws, "B5:V5")
    set_border(ws, "B6:V6")
    set_border(ws, "B7:V7")
    set_border(ws, "B8:V8")
    set_border(ws, "B9:V9")
    
    

    
    ws['B1'].border = borderStyle

    ws['F1'].border = borderStyle
    ws['J1'].border = borderStyle
    ws['M1'].border = borderStyle
    ws['P1'].border = borderStyle
    ws['T1'].border = borderStyle
    
    ws['A3'].border = borderStyle
    ws['A4'].border = borderStyle
    ws['A5'].border = borderStyle
    ws['A6'].border = borderStyle
    ws['A7'].border = borderStyle
    ws['A8'].border = borderStyle
    ws['A9'].border = borderStyle
    
    
    


    wb.save("willyuenTotals1.xlsx")

excel_df(ws_pprb, "Pick To Rebin")
excel_df(ws_vna, "VNA")
excel_df(ws_PPSplit, "PPSplitDemand")

In [31]:
wb = openpyxl.load_workbook("willyuenTotals1.xlsx")
ws_pprb = wb.worksheets[0]
range = ws_pprb['A1':'V9']
    
for cell in range:
    for x in cell:
        print(x)

<Cell 'PickToRebin'.A1>
<Cell 'PickToRebin'.B1>
<MergedCell 'PickToRebin'.C1>
<MergedCell 'PickToRebin'.D1>
<MergedCell 'PickToRebin'.E1>
<Cell 'PickToRebin'.F1>
<MergedCell 'PickToRebin'.G1>
<MergedCell 'PickToRebin'.H1>
<MergedCell 'PickToRebin'.I1>
<Cell 'PickToRebin'.J1>
<MergedCell 'PickToRebin'.K1>
<MergedCell 'PickToRebin'.L1>
<Cell 'PickToRebin'.M1>
<MergedCell 'PickToRebin'.N1>
<MergedCell 'PickToRebin'.O1>
<Cell 'PickToRebin'.P1>
<MergedCell 'PickToRebin'.Q1>
<MergedCell 'PickToRebin'.R1>
<MergedCell 'PickToRebin'.S1>
<Cell 'PickToRebin'.T1>
<MergedCell 'PickToRebin'.U1>
<MergedCell 'PickToRebin'.V1>
<Cell 'PickToRebin'.A2>
<Cell 'PickToRebin'.B2>
<Cell 'PickToRebin'.C2>
<Cell 'PickToRebin'.D2>
<Cell 'PickToRebin'.E2>
<Cell 'PickToRebin'.F2>
<Cell 'PickToRebin'.G2>
<Cell 'PickToRebin'.H2>
<Cell 'PickToRebin'.I2>
<Cell 'PickToRebin'.J2>
<Cell 'PickToRebin'.K2>
<Cell 'PickToRebin'.L2>
<Cell 'PickToRebin'.M2>
<Cell 'PickToRebin'.N2>
<Cell 'PickToRebin'.O2>
<Cell 'PickToRebin'.P2>
<Cell 'PickToRebin'.Q2>
<Cell 'PickToRebin'.R2>
<Cell 'PickToRebin'.S2>
<Cell 'PickToRebin'.T2>
<Cell 'PickToRebin'.U2>
<Cell 'PickToRebin'.V2>
<Cell 'PickToRebin'.A3>
<Cell 'PickToRebin'.B3>
<Cell 'PickToRebin'.C3>
<Cell 'PickToRebin'.D3>
<Cell 'PickToRebin'.E3>
<Cell 'PickToRebin'.F3>
<Cell 'PickToRebin'.G3>
<Cell 'PickToRebin'.H3>
<Cell 'PickToRebin'.I3>
<Cell 'PickToRebin'.J3>
<Cell 'PickToRebin'.K3>
<Cell 'PickToRebin'.L3>
<Cell 'PickToRebin'.M3>
<Cell 'PickToRebin'.N3>
<Cell 'PickToRebin'.O3>
<Cell 'PickToRebin'.P3>
<Cell 'PickToRebin'.Q3>
<Cell 'PickToRebin'.R3>
<Cell 'PickToRebin'.S3>
<Cell 'PickToRebin'.T3>
<Cell 'PickToRebin'.U3>
<Cell 'PickToRebin'.V3>
<Cell 'PickToRebin'.A4>
<Cell 'PickToRebin'.B4>
<Cell 'PickToRebin'.C4>
<Cell 'PickToRebin'.D4>
<Cell 'PickToRebin'.E4>
<Cell 'PickToRebin'.F4>
<Cell 'PickToRebin'.G4>
<Cell 'PickToRebin'.H4>
<Cell 'PickToRebin'.I4>
<Cell 'PickToRebin'.J4>
<Cell 'PickToRebin'.K4>
<Cell 'PickToRebin'.L4>
<Cell 'PickToRebin'.M4>
<Cell 'PickToRebin'.N4>
<Cell 'PickToRebin'.O4>
<Cell 'PickToRebin'.P4>
<Cell 'PickToRebin'.Q4>
<Cell 'PickToRebin'.R4>
<Cell 'PickToRebin'.S4>
<Cell 'PickToRebin'.T4>
<Cell 'PickToRebin'.U4>
<Cell 'PickToRebin'.V4>
<Cell 'PickToRebin'.A5>
<Cell 'PickToRebin'.B5>
<Cell 'PickToRebin'.C5>
<Cell 'PickToRebin'.D5>
<Cell 'PickToRebin'.E5>
<Cell 'PickToRebin'.F5>
<Cell 'PickToRebin'.G5>
<Cell 'PickToRebin'.H5>
<Cell 'PickToRebin'.I5>
<Cell 'PickToRebin'.J5>
<Cell 'PickToRebin'.K5>
<Cell 'PickToRebin'.L5>
<Cell 'PickToRebin'.M5>
<Cell 'PickToRebin'.N5>
<Cell 'PickToRebin'.O5>
<Cell 'PickToRebin'.P5>
<Cell 'PickToRebin'.Q5>
<Cell 'PickToRebin'.R5>
<Cell 'PickToRebin'.S5>
<Cell 'PickToRebin'.T5>
<Cell 'PickToRebin'.U5>
<Cell 'PickToRebin'.V5>
<Cell 'PickToRebin'.A6>
<Cell 'PickToRebin'.B6>
<Cell 'PickToRebin'.C6>
<Cell 'PickToRebin'.D6>
<Cell 'PickToRebin'.E6>
<Cell 'PickToRebin'.F6>
<Cell 'PickToRebin'.G6>
<Cell 'PickToRebin'.H6>
<Cell 'PickToRebin'.I6>
<Cell 'PickToRebin'.J6>
<Cell 'PickToRebin'.K6>
<Cell 'PickToRebin'.L6>
<Cell 'PickToRebin'.M6>
<Cell 'PickToRebin'.N6>
<Cell 'PickToRebin'.O6>
<Cell 'PickToRebin'.P6>
<Cell 'PickToRebin'.Q6>
<Cell 'PickToRebin'.R6>
<Cell 'PickToRebin'.S6>
<Cell 'PickToRebin'.T6>
<Cell 'PickToRebin'.U6>
<Cell 'PickToRebin'.V6>
<Cell 'PickToRebin'.A7>
<Cell 'PickToRebin'.B7>
<Cell 'PickToRebin'.C7>
<Cell 'PickToRebin'.D7>
<Cell 'PickToRebin'.E7>
<Cell 'PickToRebin'.F7>
<Cell 'PickToRebin'.G7>
<Cell 'PickToRebin'.H7>
<Cell 'PickToRebin'.I7>
<Cell 'PickToRebin'.J7>
<Cell 'PickToRebin'.K7>
<Cell 'PickToRebin'.L7>
<Cell 'PickToRebin'.M7>
<Cell 'PickToRebin'.N7>
<Cell 'PickToRebin'.O7>
<Cell 'PickToRebin'.P7>
<Cell 'PickToRebin'.Q7>
<Cell 'PickToRebin'.R7>
<Cell 'PickToRebin'.S7>
<Cell 'PickToRebin'.T7>
<Cell 'PickToRebin'.U7>
<Cell 'PickToRebin'.V7>
<Cell 'PickToRebin'.A8>
<Cell 'PickToRebin'.B8>
<Cell 'PickToRebin'.C8>
<Cell 'PickToRebin'.D8>
<Cell 'PickToRebin'.E8>
<Cell 'PickToRebin'.F8>
<Cell 'PickToRebin'.G8>
<Cell 'PickToRebin'.H8>
<Cell 'PickToRebin'.I8>
<Cell 'PickToRebin'.J8>
<Cell 'PickToRebin'.K8>
<Cell 'PickToRebin'.L8>
<Cell 'PickToRebin'.M8>
<Cell 'PickToRebin'.N8>
<Cell 'PickToRebin'.O8>
<Cell 'PickToRebin'.P8>
<Cell 'PickToRebin'.Q8>
<Cell 'PickToRebin'.R8>
<Cell 'PickToRebin'.S8>
<Cell 'PickToRebin'.T8>
<Cell 'PickToRebin'.U8>
<Cell 'PickToRebin'.V8>
<Cell 'PickToRebin'.A9>
<Cell 'PickToRebin'.B9>
<Cell 'PickToRebin'.C9>
<Cell 'PickToRebin'.D9>
<Cell 'PickToRebin'.E9>
<Cell 'PickToRebin'.F9>
<Cell 'PickToRebin'.G9>
<Cell 'PickToRebin'.H9>
<Cell 'PickToRebin'.I9>
<Cell 'PickToRebin'.J9>
<Cell 'PickToRebin'.K9>
<Cell 'PickToRebin'.L9>
<Cell 'PickToRebin'.M9>
<Cell 'PickToRebin'.N9>
<Cell 'PickToRebin'.O9>
<Cell 'PickToRebin'.P9>
<Cell 'PickToRebin'.Q9>
<Cell 'PickToRebin'.R9>
<Cell 'PickToRebin'.S9>
<Cell 'PickToRebin'.T9>
<Cell 'PickToRebin'.U9>
<Cell 'PickToRebin'.V9>